<%
var totalRecord=param.record.length; //총 레코드
var pageSize=10; //한 페이지에 보일 레코드 수
var totalPage=Math.ceil(totalRecord/pageSize); //정수로 반올림
var blockSize=10; //한 블럭에 보여질 페이지 수
var currentPage=param.currentPage; //현재 페이지
var curPos=(currentPage-1)*pageSize; //페이지당 배열 시작 index
var num=totalRecord - curPos; //페이지당 시작 번호
%>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/admin_topnavi.css">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 5%;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
</head>
<body>
<%- include ("../inc/top_navi")%>
<h2>Order List</h2>

<table>
  <tr>
    <th>No</th>
    <th>Name</th>
    <th>Price</th>
    <th>Information</th>
    <th>img</th>
    <th>Genre</th>
  </tr>
  <%for(var i=0; i<pageSize; i++){%>
    <%if(num<1)break;%>
    <%var orderList=param.record[curPos++];%>
    <%var games=param.record[i];%>
  <tr>
    <td><%=(num--)%></td>
    <td>
      <a href="/admin/game/detail?game_id=<%=orderList.game_id%>"><%=orderList.game_name%></a>
    </td>
    <td><%=orderList.game_price%></td>
    <td><%=orderList.game_detail%></td>
    <td>
      <img src="/gameimg/<%=orderList.game_img%>" width="50px" height="50px"/>
    </td>
    <td><%=orderList.game_kind%></td>
  </tr>
  <%}%>
  <tr>
    <td colspan="6" style="text-align: center;">
      <a href="/admin/game/list">[◀]</a>
      <%for(var i=1; i<=blockSize; i++){%>
        <%if(i>totalPage)break;%>
        <a href="/admin/game/list?currentPage=<%=i%>">[<%=i%>]</a>
      <%}%>
      <a href="/admin/game/list">[▶]</a>
    </td>
  </tr>
</table>

</body>
</html>