<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/admin_topnavi.css">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

$(function(){
    
    $($("input[type='button']")[0]).click(function(){//목록
        location.href="/admin/product/list";
        list();
    });
    
    $($("input[type='button']")[1]).click(function(){//삭제
        if(confirm("이 상품을 삭제 하시겠습니까?")){
            $("form").attr({
                action:"/admin/product/del",
                method:"post",
                // encoding:"multipart/form-data"
            });
            $("form").submit();
        }
        del();
    });
})


</script>
</head>
<body>
  <%- include ('../inc/topnavi')%>
<h3>판매 상품 상세보기</h3>

<div class="container">
  <form>
    <input type="hidden" name="product_id" id="product_id" value="<%=record.product_id%>">
    <label for="fname">상위 카테고리</label>
    <input type="text" id="top_name" name="top_name" value="<%=record.top_name%>">

    <label for="fname">상품명</label>
    <input type="text" id="product_name" name="product_name" value="<%=record.product_name%>">

    <label for="lname">상품가격</label>
    <input type="text" id="product_price" name="product_price" value="<%=record.product_price%>">




    <label for="subject">상세설명</label>
    <textarea id="product_detail" name="product_detail"  style="height:200px"><%=record.product_detail%></textarea>
    <!-- <input type="file" name="product_img" id="product_img" > -->
    <img src="/upload/image/<%=record.product_img%>" width="200px">
    <p></p>
    <input type="button" value="목록">
    <input type="button" value="삭제">
  </form>
</div>

</body>
</html>